@font-face {
    font-family: 'Alsandra';
    src: url('../fonts/alsandra.ttf') format('truetype');
}
@font-face {
    font-family: 'QTar';
    src: url('../fonts/qtarabianregular.ttf') format('truetype');
}
@font-face {
    font-family: 'TheMonkiesAteMySoul';
    src: url('../fonts/TheMonkiesAteMySoul.ttf') format('truetype');
}
@font-face {
    font-family: 'Guildof';
    src: url('../fonts/guildof.ttf') format('truetype');
}
@font-face {
    font-family: 'BuxtonSketch';
    src: url('../fonts/BuxtonSketch.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster.otf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.alsandra{
    font-family: Guildof;
}
.qtar{
    font-family: QTar;
}
.theMonkiesAteMySoul{
    font-family: TheMonkiesAteMySoul;
}
.guildof{
    font-family: Guildof;
}
.buxtonSketch{
    font-family: BuxtonSketch;
}
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}