/* -------------------------------------------------------
   1) GOOGLE FONTS (основни UI шрифтове)
------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


/* -------------------------------------------------------
   2) LOCAL FONTS (custom .ttf / .otf)
------------------------------------------------------- */

@font-face {
    font-family: 'Alsandra';
    src: url('../fonts/alsandra.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'QTar';
    src: url('../fonts/qtarabianregular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'TheMonkiesAteMySoul';
    src: url('../fonts/TheMonkiesAteMySoul.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Guildof';
    src: url('../fonts/guildof.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'BuxtonSketch';
    src: url('../fonts/BuxtonSketch.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster.otf') format('opentype');
    font-display: swap;
}


/* -------------------------------------------------------
   3) FONT UTILITY CLASSES (лесно превключване)
------------------------------------------------------- */

/* Local fonts */
.alsandra { font-family: 'Alsandra', serif; }
.qtar { font-family: 'QTar', serif; }
.theMonkiesAteMySoul { font-family: 'TheMonkiesAteMySoul', serif; }
.guildof { font-family: 'Guildof', serif; }
.buxtonSketch { font-family: 'BuxtonSketch', serif; }
.lobster { font-family: 'Lobster', cursive; }

/* Google fonts */
.orbitron { font-family: 'Orbitron', sans-serif; }
.inter { font-family: 'Inter', sans-serif; }

.amatic-regular { font-family: 'Amatic SC', cursive; font-weight: 400; }
.amatic-bold { font-family: 'Amatic SC', cursive; font-weight: 700; }

.annie { font-family: 'Annie Use Your Telescope', cursive; }

.eb-garamond { font-family: 'EB Garamond', serif; }
.cormorant { font-family: 'Cormorant Garamond', serif; }
