/* ✨ Направя пълен style.css за твоя проект
✨ Изградя design system (цветове, компоненти, spacing scale)
✨ Направя theme switcher (dark/cosmic/light)
✨ Подредя всичките ти UI елементи да следват тази система
Направя responsive grid за картите
✨ Изградя UI kit PDF за проекта ти

 */

.requires-auth {
  display: none !important;
}

body.logged-in .requires-auth {
  display: block !important;
}

#footer-holder{
    width: 80%;
    margin: 0 auto;
    /*background-color: #c0a16b;*/
    padding: 20px;
    text-align: center;
    font-size: 2em;
}
   
    .card-sl {
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
    }

    .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 20px;
        z-index: 2;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

    .card-action:hover {
        color: #fff;
        background: #59baed;
        -webkit-animation: pulse 1.5s infinite;
    }

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
        vertical-align: center;
    }

    .card-text {
        padding: 10px 15px;
        background: #fff;
        font-size: 14px;
        color: #636262;
    }

    .modal-trigger {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #1F487E;
        color: #fff;
        border-radius: 0 0 8px 8px;
    }

    .modal-trigger:hover {
        text-decoration: none;
        background-color: #447ced;
        color: #fff;

    }
   
    .card:hover{
    box-shadow: -1px 5px 15px 0px rgba(0,0,0,0.8);
    }

    @-webkit-keyframes pulse {
        0% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        70% {
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
        }

        100% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
        }
    }


#bai-ganio{
    margin: 0 auto;
}
#bai-ganio > h1{
    text-align: center;
}
#bai-ganio > h1 > a:hover{
    text-decoration: none;
}
#infoBox{
    text-align: center;
    /*display: none;*/
    font-family: "Curlz MT" !important;
    background-color: deepskyblue;
    font-size: 2em;
}
#linkLogout{
    display: none;
}
#linkLogout > a{
    color: #4cff00 !important;
}
#linkLogout > a:hover{
    color: #ffff00 !important;
}
#userMsg{
    color: #ffff00 !important;
}
#userMsg:hover{
    color: #4cff00 !important;
}
.soc-icons>div>a{
    margin: 20px;
}

@media (min-width: 320px){
    #clock{
        width: 88%;
    }
}
@media (min-width: 768px){
    .nav-tabs-justified>li>a {
        border-bottom: 0px !important;
    }
    .BulgariaModernaV3 {
        font-size: 3em !important;
    }
    #clock{
        width: 22%;
    }
    #login-form{
        width: 40%;
    }
}
@media (min-width: 1024px){
    #clock{
        width: 25%;
    }
    #login-form{
        width: 40%;
    }
}
@media (max-width: 360px){
    #main-content{
        background: none;
    }
    #ganio-info{
        font-size: 2em !important;
    }
    #login-form{
        width: 64%;
    }
}

