.requires-auth {
  display: none !important;
}

body.logged-in .requires-auth {
  display: block !important;
}

#footer-holder{
    width: 80%;
    margin: 0 auto;
    /*background-color: #c0a16b;*/
    padding: 20px;
    text-align: center;
    font-size: 2em;
}
   
#main {
    transition: margin-left .5s;
    padding: 20px;
}
#main-page-content{
    text-align: center;
}
#loadingBox, #infoBox, #errorBox{
    display: none;
}
#infoBox{
    background-color: #4cff00;
    font-family: Alsandra;
    font-size: 3em;
}
#errorBox{
    background-color: #ac2925;
    font-family: Alsandra;
    font-size: 2em;
}
#loadingBox{
    background-color: #3c7be7;
    font-family: Alsandra;
    font-size: 2em;
}

#side-nav-menu>p{
    text-align: right;
}
#shrink-menu{
    display: none;
    font-family: Alsandra;
    font-size: 2em;
    text-decoration: none;
}
  

