#main {
    transition: margin-left .5s;
    padding: 20px;
}
#main-page-content{
    text-align: center;
}

#loadingBox, #infoBox, #errorBox{
    display: none;
}
#infoBox{
    background-color: #4cff00;
    font-family: Alsandra;
    font-size: 3em;
}
#errorBox{
    background-color: #ac2925;
    font-family: Alsandra;
    font-size: 2em;
}
#loadingBox{
    background-color: #3c7be7;
    font-family: Alsandra;
    font-size: 2em;
}
#main-page-content > section{
    display: none;
}

.postImg{
    width: 100%;
    object-fit: cover;
}
.postUrl{
    text-decoration: none;
    color: goldenrod;
    font-family: Alsandra;
    margin: 20px;
    font-size: 1.5em;
}
#side-nav-menu>p{
    text-align: right;
}
#shrink-menu{
    display: none;
    font-family: Alsandra;
    font-size: 2em;
    text-decoration: none;
}
#postHolder{
    border: 2px solid yellow;
    /*padding: 20px;*/
    margin: 20px;
}

.read-more{
    color: red;
}
.read-more:hover{
    color: greenyellow;
    text-decoration: none;
    cursor: pointer;
}
