.image-modal .modal-content {
    background: black; /* или твоя cosmic/dark стил */
    color: white;
}

.image-modal img {
    max-width: 100%;
    border-radius: var(--radius-lg);
}

.terms-modal .modal-content {
    background: var(--color-bg-soft) !important;
    color: var(--color-text) !important;
    font-size: 1.15rem;
}

.terms-modal .modal-header,
.terms-modal .modal-footer {
    border-color: var(--color-accent-soft) !important;
}
